.card {
    position: relative;
    top:180px;
    left:490px;
    color: white;
    background-color: #22d6f2;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    height: 270px;
    text-align: left;
 
    

}

.five-day{
    position: absolute;
    margin-left: 750px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    order: 5;
    flex-wrap:wrap;
    justify-content: center;
}


.search{
    display: flex;
    position:absolute;
    margin-top: 50px;
    flex-direction: column;
}
.btn{
    margin-right: 20px;
    margin-bottom: 25px;
    width: 300px;
}